.app.sidebar-popout {
    backdrop-filter: none;
}

.sidebar-tab.directory,
.sidebar-tab .directory {
    --folder-header-height: 38px;
    --default-folder-color: var(--color-border-dark-tertiary);
    background-color: var(--color-border-dark-secondary);

    & .directory-list {
        --context-menu-z-index: 100000;
        --folder-header-height: 38px;

        & .folder-header {
            position: sticky !important;
        }

        & .folder-header>#context-menu,
        & .directory-item #context-menu,
        .window-app & #context-menu {
            --adjusted-context-spacing: calc(100% + 1px);
            z-index: var(--context-menu-z-index);

            &.expand-up,
            &.expand-down {
                top: var(--adjusted-context-spacing);
            }
        }

        & .directory-item {
            &.folder .folder-header {
                background-color: var(--default-folder-color);
            }

            &.folder .context{
                background-color: #23221d !important;
            }
        }

        & .folder .subdirectory {
            border-left-color: var(--default-folder-color);
        }

        &>.folder>.folder-header {
            top: 0;

            &+.subdirectory>.folder>.folder-header {
                top: var(--folder-header-height);

                &+.subdirectory>.folder>.folder-header {
                    top: calc(var(--folder-header-height) * 2);
                }
            }
        }
    }
}