.app.sidebar-popout {
    backdrop-filter: none;
}

.sidebar-tab.directory,
.sidebar-tab .directory {
    --folder-header-height: calc(1lh + 12px);
    --default-folder-color: var(--color-border-dark-tertiary);
    background-color: var(--color-border-dark-secondary);

    & .directory-list {
        --small-gap: 3px;
        --context-menu-z-index: 100000;

        & .folder {
            padding-left: var(--small-gap);
            border: none;
        }

        & .folder-header {
            position: sticky !important;
            border: none;
            border-top: var(--small-gap) solid black;
        }

        & .folder-header>#context-menu,
        & .directory-item #context-menu,
        .window-app & #context-menu {
            --adjusted-context-spacing: calc(100% + 1px);
            z-index: var(--context-menu-z-index);

            &.expand-up,
            &.expand-down {
                top: var(--adjusted-context-spacing);
            }
        }

        & .directory-item {
            &.folder .folder-header {
                background-color: var(--default-folder-color);
            }

            &.folder .context {
                background-color: #23221d !important;
            }
        }

        & .subdirectory {
            border-left: 0.5em solid var(--default-folder-color);
            border-bottom: none;
        }

        &>.folder>.folder-header {
            top: 0;

            &+.subdirectory>.folder>.folder-header {
                top: calc(var(--folder-header-height) + var(--small-gap));

                &+.subdirectory>.folder>.folder-header {
                    top: calc(var(--folder-header-height) * 2 + var(--small-gap) * 2);

                    &+.subdirectory>.folder>.folder-header {
                        top: calc(var(--folder-header-height) * 3 + var(--small-gap) * 3);
                    }
                }
            }
        }
    }
}